.resume-container {
  max-width: 1024px;
  margin: 2em;
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.personal-detail-section {
  margin-bottom: 1em;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

.personal-detail-wrapper,
.education-detail-section h2,
.experience-detail-section h2,
.education-wrapper,
.experience-wrapper {
  margin-bottom: 8px;
}
.professional-summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.school-name-date-wrapper,
.experience-name-date-wrapper {
  display: flex;
  justify-content: space-between;
}

.education-date,
.experience-date {
  font-weight: bold;
}
