@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg,
input {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#root-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person-detail-container,
.education-detail-input-container,
.experience-detail-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

textarea,
input[type='text'],
input[type='date'] {
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 4px;
}

input:focus {
  border-color: black;
}
.input-container {
  width: 400px;
}
button {
  cursor: pointer;
}

input[type='checkBox'] {
  display: inline;
}
